#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Categories=GTK;System;
NoDisplay=true
Exec=sudo gbi
Name=Install GhostBSD
Comment=Install GhostBSD
Icon=/usr/local/lib/gbi/install-gbsd.png
